@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", serif;

}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    .upper {
        width: 100%;
        display: flex;
        align-items: center;
        padding-top: 30px;
        justify-content: space-evenly;
    }

    .fa-user,
    .fa-bag-shopping {
        margin-left: 15px;
    }

    nav {
        margin-top: 50px;

        ul {
            display: flex;
            list-style: none;
            gap: 60px;
            font-weight: 700;
        }
    }

    i {
        font-size: 20px;
    }
    .fa-list{
        display: none;
    }
}
@media(max-width:320px){
    header i{
        display: none !important;
    }
    nav{
        display: none;
    }
    .fa-list{
        display: flex !important;
        margin-left: 20px;
    }
}
@media(max-width:556px){
    header i{
        display: none !important;
    }
    nav{
        display: none;
    }
    .fa-list{
        display: flex !important;
        margin-left: 20px;
    }
}